html{
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 0 auto;
    font-size: 12px;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 1px;
    width: 740px;
    height: 80px;
    color: rgb(255, 255, 255);
    text-align: center; 
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(../JPG/W.jpg);
    background-position: center;

}
header ul {
    display: flex;
}

header li{
    list-style: none; 
    margin: 0 auto;
}
article{
    flex: 2;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-style:dashed; 
    border-color: rgb(235, 172, 156);
    border-width: thin;
    
}

aside{
    flex: 2;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-style:dashed; 
    border-color: rgb(235, 172, 156);
    border-width: thin;
    
}

footer{
    padding-left: 30px;
    padding-right: 30px;
    width: 740px;
    color: aliceblue;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(../JPG/W.jpg);
    background-position: center;
    height: 30px;
    text-align: right; 
    border-top:dashed; 
    border-color: rgb(235, 172, 156);
    border-width: thin
}

.content-area {
    display: flex;
}

